%table.table.center.table-bordered
  %thead
    %tr
      %td 文章名称
      %td 状态
      %td 操作
    %tbody
    - @articles.each do |article|
      - if article.status != "deleted"
        %tr{class: article_status_class(article)}
          %td
            - if article.chinese_title.nil? || article.chinese_title.blank?
              = link_to article.french_title, edit_admin_article_path(article)
            - else
              = link_to article.chinese_title, edit_admin_article_path(article)
          %td= t(article.status)
          %td
            - if can? :edit, article
              = link_to '编辑', edit_admin_article_path(article)