.row
  .span6
    %h3 Article Management
  .span3
    %h3
      = link_to 'New Article', new_admin_article_path
.btn-group.pull-right
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    = @current_category.chinese_name unless @current_category.blank?
    %span.caret
  %ul.dropdown-menu
    - current_user.categories.all.each do |category|
      %li 
        = (link_to category.chinese_name, admin_articles_path(category_id: category.id)) unless @current_category.id == category.id

= render "list"
