.row
  .span6
    %h3.title 文章管理
  .span3
    %h3
      - if can? :read, @current_category
        = link_to '添加新文章', new_admin_article_path(category_id: @current_category.id)
.pagination
  %ul
    - current_user.categories.all.each do |category|
      - if category.id == @current_category.id
        %li.active
          %span= category.chinese_name
      - else
        %li.disabled
          %span
            = link_to category.chinese_name, admin_articles_path(category_id: category.id)
= render "list"
