.row
  .span6
    %h3.title 文章管理
  .span3
    %h3
      - if can? :read, @current_category
        = link_to '添加新文章', new_admin_article_path(category_id: @current_category.id)
.pagination
  %ul
    - @topmenus.each do |category|
      %li{class: category.id == @current_category.id ? 'active' : 'disabled'}
        %span
          = link_to category.chinese_name, admin_articles_path(category_id: category.id)
        %ul
          - category.submenus.each do |submenu|
            %li.submenu{class: submenu.id == @current_category.id ? 'active' : 'disabled'}
              %span
                = link_to ('-' + submenu.chinese_name), admin_articles_path(category_id: submenu.id)
= render "list"
