= link_to "首页", root_path
%span >  搜索列表

%ul
  - @articles.each do |article|
    - if article.status == "public"
      %li
        = link_to (article.chinese_title.blank? ? article.franch_title : article.chinese_title), article_path(article)