%section.workTitle
  %h1
    Fly Dragon
  %a{:href=>"/projects/2"}
    %img{:src=>"/assets/projects/back_project_icon.png"}
%section.workContent
  = raw(@work.content)

%section.workInfo
  #workPro
    .projectInfo
      %p.workLogo
        %img{:src=>"/assets/projects/tang_logo.png"}
      %p
        RELEASE DATE:  
        %span
          2012.02.27
          / @work.strftime("%Y-%m-%d")
      %p
        CATEGORIES:  
        %span
          Interactive, Web
    .projectOtherInfo
      %span
        2
      %img{:src=>"/assets/projects/tencent.jpg"}
  #workDesc
    = raw(@work.desc)