.banner
  .bleft
    %ul.bxslider
      %li= image_tag("slide1.jpg")
      %li= image_tag("slide2.jpg")
      %li= image_tag("slide3.jpg")
      %li= image_tag("slide4.jpg")
  .bright
    .welcome
      欢迎来到
    .sitename
      上海
      %br
      交通大学医学部
      %br
      中法医学部