.menu
  %ul
    %li
      = link_to t('home'), root_path
    - @categories.each do |category|
      %li
        = link_to category.french_name, category_path(category)
        - unless category.submenus.blank?
          .sub1
            %ul
              - category.submenus.each do |submenu|
                %li= link_to submenu.french_name, category_path(submenu) unless submenu.french_name.strip.blank?