.menu
  .home
    = link_to t('home'), root_path
  %ul
    - @categories.each do |category|
      %li
        = link_to category.chinese_name, category_path(category)
        - unless category.submenus.blank?
          .submenu
            - category.submenus.each do |submenu|
              = link_to submenu.chinese_name, category_path(submenu)