%header#head
  %div
    %table.pull-right{style:"margin-right: 20px"}
      %tr
        %td
          %a{href: root_path(locale: "zh-CN")}
            %img.china{src:"/assets/china.jpg"}
        %td
          %a{href: root_path(locale: "fr")}
            %img.french{src:"/assets/french.jpg"}
    %table{style:"width:700px;margin-bottom:20px;"}
    .nave
      %nav
        = link_to t("home"), root_path
    - if session[:locale] == "zh-CN"
      - @chinese_categories.each do |category|
        .nave
          %nav
            = link_to category.chinese_name, category_path(category)
    - elsif session[:locale] == 'fr'
      - @french_categories.each do |category|
        .nave
          %nav
            = link_to category.french_name, category_path(category)