.menu
  .home
    = link_to t('home'), root_path
  %ul
    - @categories.each do |category|
      %li
        = link_to category.chinese_name, category_path(category)
        - if !category.submenus.blank?
          .submenu
            - category.submenu.each do |submenu|
              = link_to submenus.chinese_name, category_path(submenu)