%table.pull-right{style:"margin-right: 20px"}
  %tr
    %td
      %a{href: root_path(locale: "zh-CN")}
        %img.china{src:"/assets/china.jpg"}
    %td
      %a{href: root_path(locale: "fr")}
        %img.french{src:"/assets/french.jpg"}
