%footer#foot
  %p Tous droits sont réservés (2014) à la Faculté de Médecine de l'Université JiaoTong de Shanghai Centre de ressources informatiques
  %p Centre de Formation Médicale Sino-français : Adresse : 280, rue Chongqinglu(sud)
  %p 
    = mail_to "elise_gwy@shsmu.edu.cn"
   