<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel='stylesheet' href="css/site.css" type='text/css' media='all' />
<title>home</title>
</head>
<body>
<div id="content" style=" background:#003974 url(images/0bg.jpg) no-repeat;">
	<header id="head">
    	<div class="nave">
        	<nav><a href="">CURRENT</a></nav>
            <p><a href="">students</a></p>
        </div>
        <div class="nave">
        	<nav><a href="">PROSPECTIVE</a></nav>
            <p><a href="">students</a></p>
        </div>
        <div class="nave clk">
        	<nav><a href="">ALUMNI AND</a></nav>
            <p><a href="">friends</a></p>
        </div>
        <div class="nave">
        	<nav><a href="">FACULTY AND</a></nav>
            <p><a href="">stuff</a></p>
        </div>
        <div class="nave">
        	<nav><a href="">TECHNOLOGY AND</a></nav>
            <p><a href="">invention</a></p>
        </div>
    </header>
    <article class="main">
    	<div class="mltail">
        	<div class="mlt_h11"><img src="images/h11.jpg" /></div>
            <div class="mlt_h12"><img src="images/h12.jpg" /></div>
            <div class="mlt_h13"><img src="images/h13.jpg" /></div>
            <div class="mlt_h14"><img src="images/h14.jpg" /></div>
            <div class="mlt_h15"><img src="images/h15.jpg" /></div>
            <div class="mlt_h16"><img src="images/h16.jpg" /></div>
        	<div class="mlt_h17"><img src="images/h11.jpg" /></div>
            <div class="mlt_h18"><img src="images/h12.jpg" /></div>
            <div class="mlt_h19"><img src="images/h13.jpg" /></div>
            <div class="mlt_h10"><img src="images/h14.jpg" /></div>
            <div class="mlt_h101"><img src="images/h15.jpg" /></div>
            <div class="mlt_h21"><img src="images/h21.jpg" /></div>
            <div class="mlt_h22"><img src="images/h22.jpg" /></div>
            <div class="mlt_h23"><img src="images/h23.jpg" /></div>
            <div class="mlt_h24"><img src="images/h24.jpg" /></div>
            <div class="mlt_h25"><img src="images/h25.jpg" /></div>
            <div class="mlt_h26"><img src="images/h26.jpg" /></div>
            <div class="mlt_h27"><img src="images/h21.jpg" /></div>
            <div class="mlt_h28"><img src="images/h22.jpg" /></div>
            <div class="mlt_h29"><img src="images/h23.jpg" /></div>
            <div class="mlt_h20"><img src="images/h24.jpg" /></div>
            <div class="mlt_h201"><img src="images/h25.jpg" /></div>
        </div>
        
        <div class="maintit"><a href="">首页</a> &gt; <a href="">教学新闻</a></div>
        <div class="searmain">
	        <div class="search_res">
            	<div class="tailtitle">外国专家工作</div>            
                <div class="tailcont">
                	近日，“成长•旅途•偶见”甘银座手机摄影展在朗斯墨奈影像艺术收藏中心开幕。<br/>
本次展览由《上海摄影》艺术总监杨元昌策展，朗斯国际•朗斯墨奈影像艺术收藏中心主办。摄影界近百人出席了开幕式。开幕式上杨元昌先生谈了他对于手机摄影的理解。他指出，手机摄影这一大众艺术已成摄影领域的一朵奇葩，正在世界各地不断绽放异彩，并对甘银座女士的手机摄影作品给予了较高的评价。<br/><br/>
<div style="text-align:center;"><img src="images/img.jpg" /></div><br/><br/>
主办场所朗斯国际•朗斯墨奈影像艺术收藏中心的代表姜宁先生在发言中也表示对手机摄影的关注，他同时对甘银座女士的手机摄影作品加以肯定，并表达了其影像艺术收藏中心将继续推出各类艺术精品展览的愿望。<br/>
                </div>
            </div>
        </div>
    </article>
    <footer id="foot">
    	<p>copyright 2007 by university. all rights reserved. property of use of this web site constitutes your acceptance of  these terms. all  <br/>information meant to be sold, traded, or given away, any copying, manipul publishing, or other transfer of these materials except </p>
    </footer>
</div>
</body>
</html>
