#content
  %header#head
    .nave
      %nav
        %a{href: ""} CURRENT
      %p
        %a{href: ""} students
    .nave
      %nav
        %a{href: ""} PROSPECTIVE
      %p
        %a{href: ""} students
    .nave
      %nav
        %a{href: ""} ALUMNI AND
      %p
        %a{href: ""} friends
    .nave
      %nav
        %a{href: ""} FACULTY AND
      %p
        %a{href: ""} stuff
    .nave
      %nav
        %a{href: ""} TECHNOLOGY AND
      %p
        %a{href: ""} invention
  %article.main
    .mlt
      .mlt_01
        JANUARY
        %br>/
        SCHOOL
        %br>/
        PAPER ISSUE
      .mlt_02
        2007
        %br>/
        FIELD TRIP
        %br>/
        REPORT
    .mrt
      %p
        %strong HERE, AT
      %h3
        WEST
        %br>/
        UNIVERSITY OF
        %br>/
        TECHNOLOGY
      %p
        WE TEACH OUR STUDENTS
        %br/
        HOW TO BE THE BEST
        %br/
        AT EVERY TECHNOLOGICAL
        %br/
        AND INVENTIVE JOB
    .search
      %input.inp_01{type: "text"}>/
      \  
      %input.searchbtn{type: "submit", value: "SEARCH"}/
    .search_res
      .question
        %h4 FREQUENTLY ASKED
        %h6 QUESTIONS
        %p
          %a{href: ""} What does the Company really do?
        %p
          %a{href: ""} How do you use asset managemen in your work
        %p
          %a{href: ""} Do your invert your do you invert split your portfolio
      .university
        %h4 NOTES AND PRESS ON
        %h6 UNIVERSITY
        %p
          %a{href: ""} What does the Company really
        %p
          %a{href: ""} How do you use asset work
        %p
          %a{href: ""} Do your invert your
        %p
          %a{href: ""} do you invert split your portfolio
  %footer#foot
    %p
      copyright 2007 by university. all rights reserved. property of use of this web site constitutes your acceptance of  these terms. all
      = succeed "information" do
        %br/