<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel='stylesheet' href="css/site.css" type='text/css' media='all' />
<title>home</title>
</head>
<body>
<div id="content">
	<header id="head">
    	<div class="nave">
        	<nav><a href="">CURRENT</a></nav>
            <p><a href="">students</a></p>
        </div>
        <div class="nave">
        	<nav><a href="">PROSPECTIVE</a></nav>
            <p><a href="">students</a></p>
        </div>
        <div class="nave clk">
        	<nav><a href="">ALUMNI AND</a></nav>
            <p><a href="">friends</a></p>
        </div>
        <div class="nave">
        	<nav><a href="">FACULTY AND</a></nav>
            <p><a href="">stuff</a></p>
        </div>
        <div class="nave">
        	<nav><a href="">TECHNOLOGY AND</a></nav>
            <p><a href="">invention</a></p>
        </div>
    </header>
    <article class="main">
    	<div class="mlt">
        	<div class="mlt_h11"><img src="images/h11.jpg" /></div>
            <div class="mlt_h12"><img src="images/h12.jpg" /></div>
            <div class="mlt_h13"><img src="images/h13.jpg" /></div>
            <div class="mlt_h14"><img src="images/h14.jpg" /></div>
            <div class="mlt_h15"><img src="images/h15.jpg" /></div>
            <div class="mlt_h16"><img src="images/h16.jpg" /></div>
            <div class="mlt_h21"><img src="images/h21.jpg" /></div>
            <div class="mlt_h22"><img src="images/h22.jpg" /></div>
            <div class="mlt_h23"><img src="images/h23.jpg" /></div>
            <div class="mlt_h24"><img src="images/h24.jpg" /></div>
            <div class="mlt_h25"><img src="images/h25.jpg" /></div>
            <div class="mlt_h26"><img src="images/h26.jpg" /></div>
            <div class="mlt_h31"><img src="images/h31.jpg" /></div>
            <div class="mlt_h32"><img src="images/h32.jpg" /></div>
            <div class="mlt_h33"><img src="images/h33.jpg" /></div>
            <div class="mlt_h34"><img src="images/h34.jpg" /></div>
            <div class="mlt_h35"><img src="images/h35.jpg" /></div>
            <div class="mlt_h36"><img src="images/h36.jpg" /></div>
            <div class="mlt_h41"><img src="images/h41.jpg" /></div>
        	<div class="mlt_01">JANUARY<br/>SCHOOL<br/>PAPER ISSUE</div>
            <div class="mlt_h43"><img src="images/h43.jpg" /></div>
            <div class="mlt_02">2007<br/>FIELD TRIP<br/>REPORT</div>
        </div>
        <div class="mrt">
        	<p><strong>HERE, AT</strong></p>
            <h3>WEST<br/>UNIVERSITY OF<br/>TECHNOLOGY</h3>
            <p>WE TEACH OUR STUDENTS<br/> HOW TO BE THE BEST<br/> AT EVERY TECHNOLOGICAL<br/> AND INVENTIVE JOB</p>
        </div>
        <div class="maintit"><a href="">首页</a> &gt; <a href="">教学新闻</a></div>
        <div class="searmain">
	        <div class="search_res">
                <div class="maintitle">最新动态</div>
                <div class="lp"><a href="">2007法八班级会议见面 考试在我们院举行</a><em>作者：张三</em></div>
                <div class="lp"><a href="">庆50载上海摄影春秋 展百纪念上</a><em>作者：甘银</em></div>
                <div class="lp"><a href="">“成长•旅途•偶见”甘银座手机摄影展我们院举行</a><em>作者：旅途</em></div>
                <div class="lp"><a href="">2007使学员具备国家相应等级摄影师职业资格的理论</a><em>作者：摄影师</em></div>
                <div class="lp"><a href="">2012摄影师职业资格培训招生信息考试在我们院举行</a><em>作者：招生信息</em></div>
                <div class="lp"><a href="">2007法八班级会议见面 考试在我们院举行</a><em>作者：资格培训</em></div>
                <div class="lp"><a href="">半个世纪光影路——上海市摄影家协会成立五十周年回忆文集</a><em>作者：培训目标</em></div>
                <div class="lp"><a href="">2007法八班级会议见面 考试在我们院举行</a><em>作者：使学员</em></div>                
            </div>
        </div>
    </article>
    <footer id="foot">
    	<p>copyright 2007 by university. all rights reserved. property of use of this web site constitutes your acceptance of  these terms. all  <br/>information meant to be sold, traded, or given away, any copying, manipul publishing, or other transfer of these materials except </p>
    </footer>
</div>
</body>
</html>
