<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @article.chinese_title%></h1>
    <p>文章变更了，请登录管理后台审核</p>
  </body>
</html>