%h3.title 文章以及文章类别总览
.pagination
  %ul
    - current_user.categories.all.each do |category|
      %li.disabled
        %span
          = link_to category.chinese_name, admin_articles_path(category_id: category.id)

%table.table.center.table-bordered
  %thead
    %tr
      %td 文章名
      %td 状态
    %tbody
    - @articles.each do |article|
      - if article.status != "deleted" 
        - if can? :edit, article
          %tr{class: article_status_class(article)}
            %td
              - if article.chinese_title.nil? || article.chinese_title.blank?
                = link_to article.french_title, edit_admin_article_path(article)
              - else
                = link_to article.chinese_title, edit_admin_article_path(article)

            %td= t(article.status)
 

