%article#careersTitle
  %h1.pageTitle
    careers

  %p
    %img{:src=>"/assets/logo.png"}

  #opening
    Current Openings

%section#careersBanner
  %h1
    Feel more inspired in their everyday lives. 
    %u
      Join us.
  #features
    #f1
      %h5
        We put pinners first.
      %p
        We start by asking, “Will this product make pinners’ lives better?” We know that if our products don’t work for pin-ners, they don’t work for us.
    #f2
      %h5
        We go.
      %p
        Sometimes the best way to find out if something works is to just go do it.Our process is iterative, and we’re constantly learning from the things we try.
    #f3
      %h5
        We’re authentic.
      %p
        We believe in being warm, honest, open and direct with each other and with pinners. Everything we do should reflect our values.
    #f4
      %h5
        We knit.
      %p
        Innovation happens when dis-ciplines knit. We insist on an open, curious culture where everyone —from engineering and design to marketing to community—works together.

%section#peoplesay
  #peoplesayTitle
    %h1
      People who work here 
      %u
        say 
      \:

  #peoplesayContent
    %h1
      “ We believe in being warm, honest, open and direct with each other and with pinners. Everything we do should reflect our values. ”

  #peoplelist
    .onePeople
      .peoplePic
      .peopleName
        %h5
          Alexander
        %p
          Project Leader
    .onePeople
      .peoplePic
      .peopleName
        %h5
          Sweet
        %p
          Translators 
        %p
          & Writers
    .onePeople
      .peoplePic
      .peopleName
        %h5
          Tang
        %p
          Designer
    .onePeople
      .peoplePic
      .peopleName
        %h5
          Brandon
        %p
          3D Models 
        %p
          &amp; Textures artists
    .onePeople
      .peoplePic
      .peopleName
        %h5
          John
        %p
          2D artists

%section#joblist
  #jobIntserseted
    %h1
      Let us know if you’re 
      %u
        interested
      \.
  #jobListBlock
    .jobUnit
      .jobTitleBlock
        .jobPic
          %img{:src=>"#"}
        .jobTitle  
          %h6
            2D artist
          %span{:style=>"background-color:#d43d6d"}
            I’m interested
      %article.jobDesc
        %h5
          Job Description:
        %p
          Responsible for the production of game ui, interface, props, scenes, roles and publicity illustrator.

      %article.jobRes
        %h5
          Responsibility:
        %ul
          %li
            Depending on the game product demand accurately locate the style of the game, the characters in the game, scenes, props and posters designed to draw;
          %li
            collaboration with the engineers of the game, revise and improve the interface of the game at any time according to the actual situation;
      
      %article.jobReq
        %h5
          Requirements:
        %ul
          %li
            the love of the game industry, game 2d art in more than 1 year work experience;
          %li
            painting or art and design related undergraduate degree or above;
          %li  
            Design ability, specializes in the role of a variety of game   styles, props, scenes and illustrations, as well as the game   interface and icon conversion and skilled in a variety of art style;
          %li
            At least mastered more than one graphics software (such as Photoshop, painter, flash, etc.), master 3d software users preferred;
          %li
            good communication skills and team spirit, work hard.

      %article.jobWarningBlock
        .jobWarning
          No phone calls, please. We greatly appreciate your interest in Tangdigital. Only those selected for the interview process will be contacted.
        %span{:style=>"background-color:#d43d6d"}
          I’m interested

      %article.jobContact
        %p
          Qualified candidates please e-mail cover letter, including salary requirements, and CV in Chinese or English to 
          %a{:href=>"mailto:"}
            hr@tangdigital.com
          \. Please specify 2D artist in the subject line of your e-mail.
