%h1
  Feel more inspired in their everyday lives. 
  %b
    Join us. 

%section#main
  %section#lifeposts
    %article.post
      .postTitles
        .postData
          JUNE 21,2013

        .postInfo
          .postTitle
            %h2
              HAND MODEL CG VIDEO - DRAGON
            %p
              CG, Model, People
          .postCommentNum
            %i
              2
            Comments
          .postShare
      .postContent
        %img{:src => "", :alt => ""}
        %h6
          THE HAKONE EKIDEN IS A TWO-DAY RELAY RACE WATCHED BY TENS OF MILLIONS OF PEOPLE IN JAPAN. IN THIS HISTORIC RACE, RUNNERS FROM EACH TEAM PASS A SASH CALLED A “TASUKI” ALONG THE 217 KILOMETER ROUTE. THIS YEAR NIKE DEVELOPED A UNIQUE WAY TO CHEER ON THE FIVE MAIN UNIVERSITIES THEY SUPPORT.
        %p
          During the race @nikerun_jp tweeted original ASCII art supporting each university based on the current stage of the event. Each piece of art contained a tasuki within the design, which made the simple act of retweeting to your followers a metaphor for passing the tasuki in the actual race. Then on a special campaign website each RT was counted towards the parallel race happening on Twitter. John.Thank you.
    
    %section#paginate 


  %aside
    .rightpart
      .rightPartTitle
        CATEGORIES
      %ul
        %li
          %a{:href => "#"}
            EVENT
          %a{:href => ""} 
            AWARD
          %a{:href => ""} 
            JOBS
    
    .rightpart
      .rightPartTitle
        SEARCH
      %input
    