%header#globalHeader
  %hgroup
    %h1#logo
      %a{href: "/"}
  %nav
    %ul
      %li
        %a{href: "about.html"} ABOUT
      %li
        %a{href: "services.html"} SERVICES
      %li.selected
        %a{href: "projects.html"} PROJECTS
      %li
        %a{href: "contact.html"} CONTACT
      %li
        %a{href: "careers.html"} CAREERS
      %li
        %a{href: "life.html"} LIFE
  %form{action: ""}
    %input{placeholder: "Search", type: "search"}/
%aside
  %section#lastestNews
    %article
      %figure
        %img{alt: "", src: ""}/
      %u 05/13
      %hr/
      %p
        “TANGDigital has proven to be a very reliable and trustworthy outsourcing partner, that delivers on time, quality and ...
      %a{href: "#"} more
  %ul#tagList
    %li
      %a.selected{href: "#"}
        %span shuffle
        %b 200
    %li
      %a{href: "#"}
        %span 2d production
        %b 10
    %li
      %a{href: "#"}
        %span 3d models
        %b 1
    %li
      %a{href: "#"}
        %span textures
        %b 1
    %li
      %a{href: "#"}
        %span illustration
        %b 1
    %li
      %a{href: "#"}
        %span concept design
        %b 1
    %li
      %a{href: "#"}
        %span special effects
        %b 1
    %li
      %a{href: "#"}
        %span animation
        %b 1
    %li
      %a{href: "#"}
        %span skin
        %b 1
    %li
      %a{href: "#"}
        %span characters
        %b 1
  #faqlink
    %a{href: "#"} F.A.Q
.projects
  %section#clientComment
    %h3 “TANGDigital has proven to be a very reliable and trustworthy outsourcing partner, that delivers on time, quality and budget.”
    %p Art Director at EA China
  %section.projectList{"data-columns" => ""}
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 ubi
      %p SPLINTER CELL BLACKLIST
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 2
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 3
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 4
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 5
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 6
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 7
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 8
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 9
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 10
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 11
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 12
      %p
  .scrollLoading
  .navigation
    %a{href: "2.html"} 2
%footer
  %article#faq
    %h6 FAQ
    %p
      %a{href: "#"} Where is TANGDigital located?
    %p
      %a{href: "#"} When was TANGDigital created?
    %p
      %a{href: "#"} What is the values of TANGDigital?
    %p
      %a{href: "#"} What is your service model?
    %p
      %a{href: "#"} In which language do you communicate with clients?
    %p
      %a{href: "#"} Can you guarantee the software utilized in your studio is legitimate?
    %p
      %a{href: "#"}
    %p
      %a{href: "#"} Do you have a question for us?
  %article#about
    %h6 about
    %p WE ARE PASSIONATE, PROFESSIONAL, HUMOROUS, BRIGHT, COLLABORATIVE, FEARLESS, OPEN-MINDED, CURIOUS, RELIABLE, PERSONABLE, WELROUNDED, and TALENTED.
    %p WE ARE TANGDigital.
    %p For the future, we will still stick to our professional attitudes and provide  high quality services to our clients. It’s our aim to become top one in the industry and make our contribution for China or the whole world game industry.
  %article#services
    %h6 services | projects
    %ul
      %li
        %a{href: "#"} 3D Model
      %li
        %a{href: "#"} Textures
      %li
        %a{href: "#"} 2D production
      %li
        %a{href: "#"} UI design
      %li
        %a{href: "#"} Concept design
      %li
        %a{href: "#"} Illustration
      %li
        %a{href: "#"} Skin
      %li
        %a{href: "#"} Animation
      %li
        %a{href: "#"} Special effects
      %li
        %a{href: "#"} CG movie
  %article#contact
    %h6 contact
    %p A101 No.33 Lane 672 Changle Road Shanghai China 200040.
    %p
      New Business Opportunities:
      %a{href: "#"} Simon Shi
      %a{href: "#"} Liji Tang
    %p
      Job Opportunities:
      %a{href: "#"} SH JOB
    %figure
      %img{alt: "", src: "/assets/logo_footer.png"}/
  %article#careers
    %h6 careers
    %ul
      %li
        %a{href: "#"} 2D artist
      %li
        %a{href: "#"} 3D scene designer
      %li
        %a{href: "#"} 3D character designer
      %li
        %a{href: "#"} 3D animator
      %li
        %a{href: "#"} Concept designer
      %li
        %a{href: "#"} IT engineers
      %li
        %a{href: "#"} 3D effects designer
  %article#life
    %h6 LIFE
    %ul
      %li
        %a{href: "#"} 06 2013
      %li
        %a{href: "#"} 05 2013
      %li
        %a{href: "#"} 04 2013
      %li
        %a{href: "#"} 03 2013
      %li
        %a{href: "#"} 02 2013
      %li
        %a{href: "#"} 01 2013
      %li
        %a{href: "#"} 12 2012
      %li
        %a{href: "#"} 11 2012
  %p
    Privacy Policy
    %b © 2013 TANGDigital. All rights reserved.
