.projects
  %section#clientComment
    %h3 “TANGDigital has proven to be a very reliable and trustworthy outsourcing partner, that delivers on time, quality and budget.”
    %p Art Director at EA China
  %section.workList{"data-columns" => ""}
    %article
      %figure.projectCover
        %a{href: "#"}
          %img{alt: "", src: "/assets/projects/crysis_big.jpg"}
          #projectInfo
            %p
              Work, Tencent, WebGame
            %p
              2012.08
            %span
              2
      %h6 ubi
      %p SPLINTER CELL BLACKLIST
    %article
      %figure
        %a{href: "/site/work"}
          %img{alt: "", src: "/assets/demopic/demo2.jpg"}/
      %h6 2
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: "/assets/demopic/demo3.jpg"}/
      %h6 3
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: "/assets/demopic/demo1.jpg"}/
      %h6 4
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 5
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 6
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 7
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 8
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 9
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 10
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 11
      %p
    %article
      %figure
        %a{href: "#"}
          %img{alt: "", src: ""}/
      %h6 12
      %p
  .scrollLoading
  .navigation
    %a{href: "2.html"} 2