%article#servicesPage
  %article.security
    %h3 client security &amp; ip protection
    %p 
      Tangdigital not only provides a focus on quality production but also the Protection of Client Intellectual Property Rights. In this modern age where Piracy and IP Theft is rampant a focus on this effort goes hand-in-hand with production to ensure Tangdigital remains competitive via a highly differentiating Code of Conduct and Operating Best Practices.
  %h1
    IT network security policy

  %ul#firstLvl
    %li
      %h5 Purpose
      %p
        The purpose of the Security Policy conducted in TANGDigital is to ensure:
      %ul.discUl
        %li
          The confidentiality, integrity and availability of computer resources and electronic content clients’ intellectual property.
        %li
          Customer's intellectual property rights.
    %li
      %h5 Server Management
      %ul.lowerAlphaUl
        %li
          Server Centralization Management
          %ul.discUl
            %li
              Server Centralization Management and daily maintenance are to ensure the availability and confidentiality of the code and data during project production.
            %li
              Any codes, game data related to the project development, including documentations and tools, should be stored on certain servers. Data storage structure should be determined by QA Department and Project Team.
        %li
          Access Management
          %ul.discUl
            %li
              The company complies with the rule which is minimizing the access to resources.
            %li
              Two access groups are needed for each content, one of which is read only; another is with read and written access. New accounts can be added in if requested.
            %li
              Access needs periodical maintenance, including deleting the access of employees, who is no longer in the project.
        %li
          Space Management
          %ul.discUl
            %li
              The QA Department has strict rules in server storage structures. Periodical check on the data is conducted, and irrelevant data will be deleted, so as to ensure there is enough space on the server for different projects.
            %li
              Auto-detect mechanism has been added into server so as to prevent the situation of lacking spaces. An email will be sent to the relevant staff member automatically once the server is detected of lacking spaces. Then the person who is in charge of server will be able to clear up the data and save space for the server immediately.
        %li
          Daily Backup
          %ul.discUl
            %li
              Daily backup is necessary since the project development data stored in the server is vital to the company.
            %li
              Daily incremental backup and weekly full backup are needed for the server. The backup time should be set in mid night during off hours.
            %li
              Employees are required to fully shut down their work stations before finishing their work day, ensuring the integrity and recovery of the backup.

    %li
      %h5 Access Management for Peripheral Devices of Computers
      %ul.discUl
        %li
          Access to the peripheral devices of all computers in TANGDigital is restricted.
        %li
          USB ports are read only. Bluetooth and infrared are disabled and inaccessible.
    %li
      %h5 Internet Management
      %ul.lowerAlphaUl
        %li
          All employees have no direct access to the Internet. Only some work-related websites are accessible.
        %li
          Public workstations with Internet access are available for people to conduct relevant research. The data can be transferred to the personals workstation from the public workstations, but the reverse transmission is forbidden. Furthermore, the data on public workstations are not allowed to be deleted.
        %li
          Application should be submitted to IT department if large volume of data download is needed.
    %li
      %h5 PC Management
      %ul.lowerAlphaUl
        %li
          Administrator Login &amp; Password Management
          %ul.discUl
            %li
              The Administrator login and password in PC are set and managed by IT Department only. Employees are not allowed to login as Administrator.
        %li
          PC Login &amp; Password Management
          %ul.discUl
            %li
              Employees are required to setup a strong Windows login password (longer than 8 characters, including uppercase/lowercase letters and non-alphabetic characters). The password needs to be changed every 3 month.

        %li
          PC Access Management
          %ul.discUl
            %li
              Employees will be granted for Power User Access instead of Administrator Access in PC.
        %li
          Laptop Management
          %ul.discUl
            %li
              Employees will be granted for Power User Access instead of Administrator Access in PC.
            %li
              Laptops can be used in the company only via wireless routers with MAC address bounded. They’re detached from the internal network, only have access to the internet and email.           
        %li
          Software Installation Rules
          %ul.discUl
            %li
              All PC system software is installed by IT Department only. Except for the pre-installed software, no other non-work related software is allowed to be installed on PC.
