%article.security
  %h3 client security &amp; ip protection
  %p 
    Tangdigital not only provides a focus on quality production but also the Protection of Client Intellectual Property Rights. In this modern age where Piracy and IP Theft is rampant a focus on this effort goes hand-in-hand with production to ensure Tangdigital remains competitive via a highly differentiating Code of Conduct and Operating Best Practices.

%article#servicesPage
  %h1.pageTitle
    services

  %section#important
    %p
      If you need more information and images of our company.
    %p
      Please contact us for samples of our production.
    %p
      %a.mail
        business@tangdigital.com
      or
      %a.click
        Click Here

  %section#clientList
    #clientBlockTitle
      Clients
    %ul
      %li
        9You
      %li
        Bluehole Studio

  %section.service
    %h6
      3D MODEL &amp; TEXTURES: Roles, Scenes, Props, Vehicles
    %p
      We could provide high reductive 3d models and textures.according to customer’s need,the model could be high polygon or low polygon.As such,we could also offer textures in high precision and in big size,including normalmap,specularmap,as well as small refined textures.

    %div
      .clientImg
        %img{:src=>""}
      .ClientName
        %p
          Jerry
        %p
          Producer
        %h6
          ubi
      .clientWords
        %p
          “Tangdigital provided us with good customer service and delivered solid quality code for our project. It’s clear they are committed to their clients and their work.”
