%section.workTitle
  %h1
    Fly Dragon
  %a{:href=>"/site/project"}
    %img{:src=>"/assets/projects/back_project_icon.png"}
%section.workContent

%section.workInfo
  #workPro
    .projectInfo
      %p.workLogo
        %img{:src=>"/assets/projects/tang_logo.png"}
      %p
        RELEASE DATE:  
        %span
          2012.02.27
      %p
        CATEGORIES:  
        %span
          Interactive, Web
    .projectOtherInfo
      %span
        2
      %img{:src=>"/assets/projects/tencent.jpg"}
  #workDesc
    %h5
      THE HAKONE EKIDEN IS A TWO-DAY RELAY RACE WATCHED BY TENS OF MILLIONS OF PEOPLE IN JAPAN. IN THIS HISTORIC RACE, RUNNERS FROM EACH TEAM PASS A SASH CALLED A “TASUKI” ALONG THE 217 KILOMETER ROUTE. THIS YEAR NIKE DEVELOPED A UNIQUE WAY TO CHEER ON THE FIVE MAIN UNIVERSITIES THEY SUPPORT.

    %p
      During the race @nikerun_jp tweeted original ASCII art supporting each university based on the current stage of the event. Each piece of art contained a tasuki within the design, which made the simple act of retweeting to your followers a metaphor for passing the tasuki in the actual race. Then on a special campaign website each RT was counted towards the parallel race happening on Twitter.