@import "main";
@import "commonProjectAndTag";

u
{
	text-decoration: none;
	color:#ed1c24;
}

article#careersTitle
{
	min-width:1024px;
	width:1024px;
	margin:0 auto;
	margin-top:88px;
	margin-bottom: 26px;
	h1
	{
		margin-bottom:49px;
	}
	p
	{
		border-bottom:1px dashed #666;
		margin:0;
		// padding:0;
		padding-bottom:22px;
	}
	div#opening
	{
		width:176px;
		height:34px;
		border:1px solid #ed1c24;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		background-color:#ed1c24;
		color:#fff;
		text-align: center;
		line-height: 34px;
		margin-top:62px;
	}
}

section#careersBanner
{
	width:100%;
	height:905px - 338px;
	background:url("/assets/careers/banner_bg.png") no-repeat scroll;
	padding-top:338px;
	h1
	{
		width:1024px;
		margin:0 auto;
		font-family:"Myriad Pro";
		font-weight: normal;
		text-align: center;
		font-size:36px;
		color:#fff;
		text-shadow:#bcbcbc 3px 3px 1px;                
	}
	#features
	{
		width:1024px - 49px;
		height:254px;
		background-color: #ed1c24;
		margin:0 auto;
		padding-left:49px;
		margin-top:270px;
		border-bottom:1px dashed #666;

		div
		{
			width:200px;
			float:left;
			color:white;
			margin-top:50px;
			margin-right:40px;
			text-shadow:#b62328 1px 1px 1px;   
			h5
			{
				font-size: 21px;
				margin:0;
				font-weight: normal;
			}
			p
			{
				font-size:14px;
				margin:2px;
			}
			&::before
			{
				content:"";
				display: block;
				width:4px;
				height:3px;
				background-color: white;
				border-bottom:1px solid #b62328;
				border-right:1px solid #b62328;
				position:absolute;
				margin-left:-10px;
			}
			&:last-child
			{
				margin-right:0;
			}
			&#f1
			{
				width:250px;
				p
				{
					width:180px
				}
			}
			&#f2
			{
				width:160px;
			}
			&#f3
			{
				p
				{
					width:170px;
				}
			}
			
		}
	}
}

section#peoplesay
{
	width:1024px;
	margin:0 auto;
	#peoplesayTitle
	{
		background-color:#f2f2f2;
		width:100%;
		height:125px - 30px;
		padding-top:30px;
		h1
		{
			font-family:"Myriad Pro";
			font-weight: normal;
			margin:0;
			text-align: center;
			font-size:48px;
			color:#333;
			text-shadow:#bababa 2px 2px 1px;   
			
		}
		&::after
		{
			content:"";
			display: block;
			border:16px solid #dedede;
			border-top-color:#f2f2f2;
			
			width:0;
			height:0;
			margin-top:36px;
			margin-left:128px;
		}
	}
	#peoplesayContent
	{
		width:100%;
		height:407px - 120px;
		background-color: #f2f2f2;
		box-shadow: 0px 0px 2px 2px #d5d3d5;
		margin-top:40px;
		padding-top:120px;
		h1
		{
			width:740px;
			font-family: Georgia;
			font-size:36px;
			color:#4d4d4d;
			text-shadow:#d5d3d5 1px 1px 1px; 
			font-weight: normal;
			margin:0 auto;
			text-align: center;
			line-height:50px;
			font-style: italic;
		}
		&::after
		{
			content:"";
			display: block;
			border:8px solid #dedede;
			border-top-color:#f2f2f2;
			
			width:0;
			height:0;
			margin-top:137px;
			margin-left:336px;
		}
	}

	#peoplelist
	{
		width:100%;
		height:78px;
		margin-top:14px;
		.onePeople
		{
			float:left;
			margin-right:3px;
			&:last-child
			{
				margin-right: 0;
				float:right;
			}
			.peoplePic
			{
				width:78px;
				height: 78px;
				background-color: #d0d2d3;
				float:left;
			}
			.peopleName
			{
				float:left;
				min-width:67px;
				height:58px;
				padding:20px 25px 0px 25px;
				background-color: #e6e6e6;
				text-align: center;
				h5
				{
					margin:0;
					font-size:12;
					color:#666;
				}
				p
				{
					margin:0;
					font-size:12px;
					color:#808080;
				}
			}
		}
	}
}

section#joblist
{
	width:1024px;
	margin:0 auto;
	margin-top:75px;
	#jobIntserseted
	{
		width:100%;
		height:125px;
		background-color: #f2f2f2;
		text-align: center;
		border-top:1px dashed #666;
		margin-bottom: 64px;
		h1
		{
			font-family:"Myriad Pro";
			font-weight: normal;
			margin:0;
			text-align: center;
			font-size:48px;
			color:#333;
			text-shadow:#bababa 2px 2px 1px;   
			line-height: 125px;
		}
		&::after
		{
			content:"";
			display: block;
			border:16px solid #dedede;
			border-top-color:#f2f2f2;
			width:0;
			height:0;
			margin-left:128px;
		}
	}

	div#jobListBlock
	{
		width:100%;

		div.jobUnit
		{
			width:501px;
			float:left;
			background-color: white;
			margin-bottom: 14px;
			.jobPic
			{
				width:100%;
				background-color: #cccccc;
				img{display: block}
			}
			.jobTitle
			{
				height:60px;
				background-color: #4d4d4d;
				h6
				{
					color:white;
					margin:0;
					width:auto;
					font-size:21px;
					// text-indent:44px;
					line-height: 60px;
					margin-left:44px;
					float:left;
					&::after
					{
						content:"";
						display: block;
						border:6px solid #fff;
						border-top-color:#4d4d4d;
						width:0;
						height:0;
						margin:0 auto;
						// position: absolute;
					}
				}
				span
				{
					width:183px;
					height:38px;
					color:white;
					line-height: 38px;
					font-size:18px;
					display: block;
					float: right;
					margin-top:10px;
					text-indent: 11px;
				}
				
			}
			h5
			{
				font-size:15px;
				color:#333;
				font-weight: normal;
				margin:0;
				margin-bottom:7px;
			}
			p
			{
				font-size:14px;
				color:#666;
				margin:0;
				width:380px;
				line-height: 16px;
			}

			section.jobMoreInfo
			{
				display: none;
			}
			article.jobDesc
			{
				padding-left:42px;
				border-left:1px solid #dadada;
				border-right:1px solid #dadada;
				padding-top:24px;
				padding-bottom:12px;
				p > a
				{
					margin-left:30px;
					img
					{
						
						vertical-align: middle;
					}
				}
			}
			article.jobRes
			{
				background-color: #eaeaea;
				padding-left:42px;
				padding-top:14px;
				padding-bottom:15px;
				border-left:1px solid #dadada;
				border-right:1px solid #dadada;
			}
			ul
			{
				margin:0;
				padding:0;
				li
				{
					width:380px;
					font-size:14px;
					color:#666;
					line-height: 18px;
				}
			}
			article.jobReq
			{
				padding-left:42px;
				border-left:1px solid #dadada;
				border-right:1px solid #dadada;
				padding-top:14px;
				padding-bottom:15px;
			}
			article.jobWarningBlock
			{
				padding-top:13px;
				background-color: #eaeaea;
				padding-bottom: 11px;
				padding-left: 23px;
				border-bottom: 1px dashed #b3b3b3;
				height:90px;
				.jobWarning
				{
					width:267px;
					height: 64px;
					color:#999;
					font-size:12px;
					border:1px solid #cccccc;
					padding:13px 0px 0px 11px;
					line-height: 16px;
					float: left;
				}
				.secondImIntBlock
				{
					width:183px;
					height:60px;
					margin-top:30px;
					float: right;
					span#secondImInt
					{
						width:183px;
						height:38px;
						color:white;
						line-height: 38px;
						font-size:18px;
						display: block;
						text-indent: 11px;
						
					}
					span#secondImIntArrow
					{
						display: block;
						border:6px solid #eaeaea;
						width:0;
						height:0;
						margin-top:0px;
						margin-left:68px;
					}
				}
			}
			article.jobContact
			{
				border-bottom: 1px dashed #b3b3b3;
				margin-bottom:2px;
				p
				{
					width: 430px;
					text-align: center;
					margin:0 auto;
					font-size:12px;
					padding-top:18px;
					padding-bottom:18px;
				}

			}
		}
	}
}

.column
{
	width:501px;
	float:left;
	&:last-child
	{
		float:right;
	}
}

[data-columns]::before { display: none; } /* Don't forget this. */

#jobListBlock[data-columns]::before {
    content: '2';
}