section.tagCloud,
section.recommandProjects
{
	min-width: 984px;
	padding-bottom:34px;
	width:984px;
	height:auto;
	margin:0 auto;
	border-bottom: 1px solid #ccc;
}

section.tagCloud
{
	padding-top:34px;
	a
	{
		display: inline-block;
		border:1px solid #ccc;
		color:#777;
		padding:6px 15px;
		font-size:12px;
		margin-top:5px;
		&:hover
		{
			background-color: white;
			// border-color: white;
		}
	}
}

section.recommandProjects
{
	border-bottom:none;
	padding-top:44px;
	section#clientComment
	{
		margin-bottom: 0px;
		height:133px;
	}
	section.projectList
	{
		height:400px;
		article
		{
			margin-right:18px;
			&:last-child
			{
				margin-right: 0px;
			}
		}
	}
}

//---------client's comment block--------
section#clientComment
{
	// width:500px;
	text-align: center;	
	font-family: Georgia;
	width:100%;
	height:234px - 78px;
	margin-bottom: 8px;
	h3
	{
		margin:0px auto;
		width:780px;
		font-size:21px;
		color:#4d4d4d;
		font-weight: normal;
	}
	p
	{
		margin-top:19px;
		font-size:12px;
		color:#b3b3b3;
	}
}

section.projectList
{
	article
	{
		width:231px - 30px;
		height: 346px - 32px;		
		margin-bottom:18px;
		padding:16px 15px;
		background-color: white;
		float:left;
		figure
		{
			width:201px;
			height:251px;
			background-color: #f2f2f2;
			a img
			{
				display: block
			}
		}
		color:#333;
		h6
		{
			text-indent: 12px;
			font:
			{
				size:14px;
			 	weight: normal;
			} 
			margin:26px 0px 3px 0px;
		}
		p
		{
			text-indent: 12px;
			margin:0;
			word-break:break-all;
			word-wrap:break-word;
			text-overflow:ellipsis;
			text-transform: uppercase;
			color: #666;
			font:
			{
				size:11px;
			}
		}
	}
}