@import "main";
@import "commonProjectAndTag";

aside
{
	width:234px;
	padding-left:60px;
	margin-right:17px;
	height:auto;
	float:left;
	#faqlink
	{
		margin-top:23px;
	}
	#faqlink a
	{
		@include linkBtn(100%,35px);
		background-color: #b3b3b3;
		line-height: 35px;
		color:white;
		font-family: "ConduitITC";
		font-size:24px;
	}
}
aside section#lastestNews
{
	width:234px - 16px;
	height:234px - 16px;
	padding:13px 3px 3px 13px;
	margin-bottom:8px;
	background-color: white;
	article
	{
		figure
		{
			width:101px;
			height:126px;
			background-color: #f2f2f2;
			display: inline-block;
			float:left;
			margin-bottom:13px;
			img
			{

			}

		}
		u
		{
			text-decoration: none;
			color:#ccc;
			font-size:40px;
			font-family:"ConduitITC";
			margin-left: 12px;
			line-height: 50px;
		}
		hr
		{
			clear: both;
			border: none;
			border-top: 1px solid #b3b3b3;
			width:206px;
			margin:0;
		}
		p
		{
			width:201px;
			height:auto;
			font-size:12px;
			color:#666666;
			margin:8px 0px 0px 0px;
			line-height: 12px
		}
		a
		{
			@include linkBtn(49px,22px);
			float:right;			
			background-color: #666666;
			color:white;
			font-size:12px;
			line-height: 22px;
		}
	}
}
aside ul#tagList
{
	list-style: none;
	margin:0;
	padding:0;
	li:last-child a
	{
		border-bottom:1px solid #ccc;
	}
	a
	{
		@include linkBtn(234px,43px);
		text-align: left;
		color:#999;
		font-size:12px;
		font-family: "ConduitITC";
		border-top:1px solid #ccc;
		line-height: 43px;	
		text-transform: uppercase;
		
		&.selected
		{
			background-color: #ccc;
		}
		span
		{
			display: inline-block;;
			text-indent:24px;
		}
		b
		{
			display: inline-block;
			float:right;
			color:white;
			width:42px;
			text-align: left;
		}
	}
}

div.projects
{

	height:auto;	
	section#clientComment
	{
		margin-left:310px;
		padding-top:78px;
	}
	section.projectList
	{
		min-width: 900px;
		max-width:1980px;
		article
		{	
			&.longConver
			{
				height:500px;
			}
		}
	}
	.scrollLoading
	{
		clear:both;
		text-align: center;

	}
	.navigation
	{
		display: none;
		clear:both;
		text-align:center;
	}
}

.column
{
	float:left;
	width:231px;
	margin-right:18px;
}

[data-columns]::before { display: none; } /* Don't forget this. */

.projectList[data-columns]::before {
    content: '2';
}

@media screen and (min-width: 1058px) and (max-width: 1306px) {
	.projectList[data-columns]::before {
    	content: '3';
  	}
  	section#clientComment
  	{
		max-width:729px;
  	}
}

@media screen and (min-width: 1307px) and (max-width: 1555px) {
	.projectList[data-columns]::before {
    	content: '4';
  	}
  	section#clientComment
  	{
		max-width:978px;
  	}
}

@media screen and (min-width: 1556px) and (max-width: 1804px) {
	.projectList[data-columns]::before {
    	content: '5';
  	}
  	section#clientComment
  	{
		max-width:1210px;
  	}
}

@media screen and (min-width: 1805px) {
	.projectList[data-columns]::before {
    	content: '6';
  	}
  	section#clientComment
  	{
		max-width:1476px;
  	}
}