@import "main";
@import "commonProjectAndTag";

article#faqPage
{
	min-width: 984px;
	width:984px;
	padding:0px 52px 23px 52px;
	height:auto;
	margin:0 auto;
	margin-top:86px;
	border-bottom: 1px solid #ccc;
}

article#questions
{
	min-width: 984px;
	width:984px;
	padding:43px 52px 43px 52px;
	margin:0 auto;
	ul
	{
		list-style: none;
		margin:0;
		padding:0;
		li
		{
			line-height: 42px;
			a
			{
				color:#666666;
				font-size:16px;
				&:hover
				{
					color:#3f549f;
				}
			}
		}
	}
}

section#answers
{
	min-width: 984px;
	width:984px;
	padding:43px 52px 43px 52px;
	margin:0 auto;
	border-bottom: 1px solid #ccc;
	h1
	{
		font-size:27px;
		color:#555;
		font-weight: normal;
	}
	p
	{
		color:#999;
		margin:30px 0;
	}
}

section#leaveMsg
{
	min-width: 984px;
	width:984px;
	padding:78px 52px 100px 52px;
	margin:0 auto;
	label
	{
		display: block;
		margin-top: 12px;
		margin-bottom:9px;
		color:#666;
		font-size:12px;
	}
	input
	{
		background-color: #f2f2f2;
		border:none;
		font-size:10px;
		color:#999;
		text-align: center;
		&.string
		{
			width:174px;
			height:32px;
		}
		&#captcha
		{
			width:101px;
			height:32px;
			display: block;
			clear:both;
		}
	}
	img#captcha_img
	{
		// display: inline-block;
		margin-top:24px;
		margin-bottom: 7px;
		cursor:pointer;
	}
	img#reloadCaptcha
	{
		vertical-align: 80%;
		margin-left: 15px;
		cursor:pointer;
	}
	textarea
	{
		width:710px;
		height:178px;
		background-color: #f2f2f2;
		border:none;
	}
	.actions
	{
		margin-top:18px;
		input
		{
			width:71px;
			height:32px;
			border:1px solid #c8c8c8;
		}
	}
}