@media screen and (max-width: 1300px)
{
	footer
	{
		height:460px;
		section
		{
			display: none;
		}
		#minfooter
		{
			display: block;
			
		}
	}
}

@media screen and (max-width: 1080px){
	body
	{
		padding-top:90px;
	}
	header#globalHeader
	{
		min-width: 640px;
		height:90px;
		position:fixed;
		hgroup
		{
			float:none;
			button
			{
				display: block;
				float:left;
				padding:0;
				margin-left:34px;
				margin-top:26px;
			}
			h1
			{
				width:167px;
				height:30px;
				float:left;
				margin-left:165px;
				margin-top:32px;
				a
				{
					display: inline-block;
					background:url("/assets/logo_640.png") scroll no-repeat 0px 0px !important;
				}
			}
			
		}
		nav
		{
			display: none;
		}
		form
		{
			display: none;
		}
	}
	#headerGap
	{
		display: none;
	}
	aside
	{
		display: none;
	}
	
	//recommand project and tag cloud
	section.tagCloud,
	section.recommandProjects
	{
		min-width: 600px;
		
		width:600px;
	}
		
	
}



@media screen and (max-width: 640px)
{
	#slide
	{
		display: block;
		width: 640px;
		height: 640px;
		background-color: #6d6e70;
	}
	section#clientComment
	{
		margin:0 auto;
		margin-top:60px;
		margin-bottom: 60px;
		padding-top:52px;
		width:445px;
		border-top:1px solid #b3b3b4;
		border-bottom:1px solid #b3b3b4;
		height:187px-52px;
	}
	footer
	{
		padding-top:47px;
		height:865px;
		#minfooter
		{
			&>div
			{
				margin-left:48px;
				margin-top:47px;
				display: inline;
			}
			a{
				// margin-bottom:47px;
			}
		}
		#minlogo
		{
			display: block;
		}
		p
		{
			color:#ccc;
		}
	}
}
