.clear{ clear: both;}

.pull-left{float: left;}
.pull-right{float: right;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, input, textarea, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%;}
img {border:none;}
table {border-collapse:collapse;border-spacing: 0;}
q:before, q:after, blockquote:before, blockquote:after {content: "";}
a,a:hover {text-decoration:none; color:white;}
body {font-size:12px;}
body,html {width:100%; height:100%;}
body{

  font-family: "微软雅黑";
  background-color: #013974;
}

.content{width:100%; }
.wrapper {width:669px; padding:0 64px 0 47px; 
  height:100%; 
  min-height:600px; 
  position:relative;
  background:#013974 url(/assets/bg00.jpg) ; background-size:cover;margin:auto;}
.wrapper_bg { background-color: #013974; width: auto; height: 100%; min-height:640px; position:relative;}

.home {line-height:46px; width:auto; text-align:left; float:left; margin-right:10px;}
.banner {width:100%; height:300px;}
.bleft {float:left; overflow:hidden; width:55%;margin-top: 24px; height:260px;}
.bleft a{color:#185a8d; }
.bright {float:right; width:255px; height:200px; margin-top:34px; padding:20px;}
.welcome {color:white; font-size:20px; margin-bottom:20px;}
.sitename {color:#fee240; font-size:36px; line-height:46px;}
.search {padding:0 0 10px 0; overflow:hidden;}
.search .key {padding:5px; font-size:11px; float:left; line-height:16px;}
.search .btn {margin-left:10px; background:#f0f0ec; color:#111; height:26px; line-height:26px; padding:0 10px; cursor:pointer;}
.module {border:1px solid #336190; overflow:hidden; padding:10px; margin-bottom: 20px;}
.module2 {border:1px solid #336190; padding:10px; margin-bottom: 20px; width:100%; margin-top:60px;}
.study, .contact {float:left; width:100%; color:white; margin-bottom: 20px;}
.study h3 , .contact h3 {font-size:18px; color:white; font-weight:normal; padding-bottom:10px;}
.study h3 sup , .contact h3 sup {font-size:12px; vertical-align:12px;}
.study-c {overflow:hidden;}
.study-c img {float:left; display:block;}
.study-c div {margin-left:110px; padding-right:50px; font-size:10px; line-height:12px;}
.study-c p {/*text-align:justify; text-justify:distribute-all-lines;*/}
.study-c ul {padding-top:10px; margin-left:15px;}
.contact-c {font-size:10px; line-height:12px;}
.contact-c p {padding-bottom:10px;}
.contact-c ul li {margin-left:20px; float:left; width:135px;}
.footer { color:white; font-size:10px; line-height:12px;bottom:0px; margin-left:120px;}
.china, .french{height:25px; margin: 5px; padding-right: 10px;}
.content {color:white; margin-top:10px;}
.content h1{text-shadow:0 0 3px #000; font-size:18px; text-align: center}
.post_body{margin:20px;}
.maintit, .maintit a{color:#185a8d;;}

.menu {padding-top:35px; height:auto;  width:100%; }
.menu ul {float:left; list-style:none;}
.menu ul li {float:left; position:relative; line-height:30px; padding:0 20px;}
.menu ul li a {color:white; font-size:13px; text-shadow:0 0 3px #000;}
.menu ul li:hover {background:#0080FF;}
.menu ul li:hover a {color:#fff; text-shadow:none;}
.menu ul li:hover .sub1 {display:block;}
.sub1 { position:absolute; top:22px; left:0; width:120px; display:none; z-index:99;}
.sub1 ul {margin:0;width:100%;}
.sub1 ul li {float:none; line-height:30px; width:100%; background:#9cd9f5;}
.sub1 ul li a {color:#fff!important; text-shadow:none; width:100%;}
.sub1 ul li:hover .sub2 {display:block;}
.sub2 {position:absolute; top:0; left:120px; background:#1111ff; width:120px; display:none; z-index:99;}
