@import "main";
@import "commonProjectAndTag";

article#aboutus,
article#contactInfo,
{
	min-width: 984px - 114px;
	padding:0px 57px 63px 57px;
	width:984px - 114px;
	height:auto;
	margin:0 auto;
	border-bottom: 1px solid #b3b3b3;
}



article#aboutus
{
	padding-top:87px;
	h2
	{
		font-size:24px;
		color:#808080;
		font-weight: normal;
		text-shadow:#bcbcbc 2px 2px 1px;
		b
		{
			font-weight: normal;
			color:#fc475d;
		}
	}
	p
	{
		font-size:16px;
		color:#808080;
	}
	a
	{
		@include linkBtn(174px, 32px);
		background-color:white;
		font-size:14px;
		color:#999;
		line-height:32px;
		box-shadow: -1px 1px 1px 1px #b8b8b8
	}
}

article#contactInfo
{
	padding-top:37px;
	figure
	{
		margin-bottom: 20px;
	}
	p
	{
		font-size:12px;
		color:#666;
		margin:5px 0px;
		line-height: 14px;
		a
		{
			color:#666;
			text-decoration: underline;
			margin-right: 5px;
		}
	}
}

