= link_to "首页", root_path
%span >  
= link_to "#{(@category.chinese_name.blank? ? @category.french_name : @category.chinese_name)}", category_path(@category)
%ul
  - @category.articles.each do |article|
    - if article.status == "public"
      %li
        = link_to (article.chinese_title.blank? ? article.french_title : article.chinese_title), article_path(article)