%footer
  %section
    %article#faq
      %h6 FAQ
      %p
        %a{href: "#"} Where is TANGDigital located?
      %p
        %a{href: "#"} When was TANGDigital created?
      %p
        %a{href: "#"} What is the values of TANGDigital?
      %p
        %a{href: "#"} What is your service model?
      %p
        %a{href: "#"} In which language do you communicate with clients?
      %p
        %a{href: "#"} Can you guarantee the software utilized in your studio is legitimate?
      %p
        %a{href: "#"}
      %p
        %a{href: "#"} Do you have a question for us?
    %article#about
      %h6 about
      %p WE ARE PASSIONATE, PROFESSIONAL, HUMOROUS, BRIGHT, COLLABORATIVE, FEARLESS, OPEN-MINDED, CURIOUS, RELIABLE, PERSONABLE, WELROUNDED, and TALENTED.
      %p WE ARE TANGDigital.
      %p For the future, we will still stick to our professional attitudes and provide  high quality services to our clients. It’s our aim to become top one in the industry and make our contribution for China or the whole world game industry.
    %article#services
      %h6 services | projects
      %ul
        %li
          %a{href: "#"} 3D Model
        %li
          %a{href: "#"} Textures
        %li
          %a{href: "#"} 2D production
        %li
          %a{href: "#"} UI design
        %li
          %a{href: "#"} Concept design
        %li
          %a{href: "#"} Illustration
        %li
          %a{href: "#"} Skin
        %li
          %a{href: "#"} Animation
        %li
          %a{href: "#"} Special effects
        %li
          %a{href: "#"} CG movie
    %article#contact
      %h6 contact
      %p A101 No.33 Lane 672 Changle Road Shanghai China 200040.
      %p
        New Business Opportunities:
        %a{:href=>"mailto:business@tangdigital.com?cc=tang.liji@tangdigital.com&cc=teng.shi@tangdigital.com"}
          business@tangdigital.com
      %p
        Job Opportunities:
        %a{:href=>"mailto:hr@tangdigital.com"}
          SH JOB
      %figure
        %img{alt: "", src: "/assets/logo_footer.png"}/
    %article#careers
      %h6 careers
      %ul
        %li
          %a{href: "#"} 2D artist
        %li
          %a{href: "#"} 3D scene designer
        %li
          %a{href: "#"} 3D character designer
        %li
          %a{href: "#"} 3D animator
        %li
          %a{href: "#"} Concept designer
        %li
          %a{href: "#"} IT engineers
        %li
          %a{href: "#"} 3D effects designer
    %article#life
      %h6 LIFE
      %ul
        %li
          %a{href: "#"} 06 2013
        %li
          %a{href: "#"} 05 2013
        %li
          %a{href: "#"} 04 2013
        %li
          %a{href: "#"} 03 2013
        %li
          %a{href: "#"} 02 2013
        %li
          %a{href: "#"} 01 2013
        %li
          %a{href: "#"} 12 2012
        %li
          %a{href: "#"} 11 2012
  #minfooter
    #circleFAQ
      %a{:href=>"/leave_messages/new"}
        F.A.Q
    #circleAbout
      %a{:href=>"/site/aboutus"}
        About
    #circleWork
      %a{:href=>"/services/"}
        Services
    #circleContact
      %a{:href=>"/site/contact"}
        Contact
    #circleCareers
      %a{:href=>"/careers"}
        Careers
    #circleLife
      %a{:href=>"/lifes"}
        Life
  #minlogo
    %a{:href=>"#top"}
      %img{:src=>"/assets/footer_logo.png"} 
    %div 
      %img{:src=>"/assets/logo_footer_640.png"}
  %p
    Privacy Policy
    %b © 2013 TANGDigital. All rights reserved.