%header#globalHeader{:name=>"top"}
  %hgroup
    %button#navToggle{:type=>"button"}
      %span.navBtnLine
      %span.navBtnLine
      %span.navBtnLine
    %h1#logo
      %a{href: "/"}
  %nav
    %ul
      %li{class: action_name == "projects" ? "selected" : ""}
        %a{href: "/projects"} WORK
      %li{class: action_name == "services" ? "selected" : ""}
        %a{href: "/services"} SERVICES
      %li{class: action_name == "life" ? "selected" : ""}
        %a{href: "/lifes"} LIFE
      %li{class: action_name == "aboutus" ? "selected" : ""}
        %a{href: "/site/aboutus"} ABOUT
      %li{class: action_name == "careers" ? "selected" : ""}
        %a{href: "/careers"} CAREERS
      %li{class: action_name == "contact" ? "selected" : ""}
        %a{href: "/site/contact"} CONTACT
  = form_tag projects_path, method: :get do 
    = text_field_tag "search", nil ,:placeholder => "search"
#mobileNav
  = form_tag projects_path, method: :get do 
    = text_field_tag "search", nil ,:placeholder => "search"
  %nav
    %ul
      %li.projectTagListLi{class: action_name == "projects" ? "selected" : ""}
        %a#projectTagListBtn{href: "#"} 
          WORK
          %span.expendArrow
        %ul#mobileNavProjectTagList
          %li
            %a{href:"/"}
              SHUFFLE
              %span.tagAllCount
          
      %li{class: action_name == "services" ? "selected" : ""}
        %a{href: "/services"} SERVICES
      %li{class: action_name == "life" ? "selected" : ""}
        %a{href: "/lifes"} LIFE
      %li{class: action_name == "aboutus" ? "selected" : ""}
        %a{href: "/site/aboutus"} ABOUT
      %li{class: action_name == "careers" ? "selected" : ""}
        %a{href: "/careers"} CAREERS
      %li{class: action_name == "contact" ? "selected" : ""}
        %a{href: "/leave_messages/new"} CONTACT
  #faqlink
    %a{href:"/site/faq"}
      F.A.Q
#headerGap
